extends ../layout

block content
  // Contenido Derecha
  #contenido.cont-ingreso.container.col-lg-10.col-md-12
    form#ingreso-form.form-horizontal(method='', action='')
      .form-title
        h2 Administracion de Items
      .form-group.row
        // Nav tabs
        ul#tabs.nav.nav-tabs(role='tablist')
          li.nav-item
            a.nav-link.active(data-toggle='tab', href='#fabricantes', role='tab') FABRICANTES
          li.nav-item
            a.nav-link(data-toggle='tab', href='#profile', role='tab') TIPO ITEMS
          li.nav-item
            a.nav-link(data-toggle='tab', href='#messages', role='tab') ITEMS
        // Tab panes
      .form-group.row
        .tab-content.col-md-12
          #fabricantes.tab-pane.active(role='tabpanel')
            .container.crearRow
              .row
                .col-md-2
                  label Nuevo Fabricante: 
                .col-md-8
                  input.form-control.input-sm#input-fabr
                .col-md-2
                  button.btn.btn-success#btn-fabr Insertar
            table#tab_logic.table.table-striped.table-hover.table-sm
              thead.thead-inverse
                tr
                  th # ID
                  th Fabricante
              tbody
                for val in consulta0
                  tr
                    td=val.id_fabricante
                    td=val.nombre_fabricante
          #profile.tab-pane.fade(role='tabpanel')
            .container.crearRow
              .row
                .col-md-2
                  label Nuevo Tipo Item: 
                .col-md-8
                  input.form-control.input-sm
                .col-md-2
                  button.btn.btn-success Insertar
            table#tab_logic1.table.table-striped.table-hover.table-sm
              thead.thead-inverse
                tr
                  th # ID
                  th Tipo de Item
              tbody
                for val in consulta1
                  tr
                    td=val.idtipo_item
                    td=val.nombre_item
          #messages.tab-pane.fade(role='tabpanel')
            .container.crearRow
              .row
                .col-md-2
                  label Nuevo Item: 
                .col-md-8
                  input.form-control.input-sm
                .col-md-2
                  button.btn.btn-success Insertar
            table#tab_logic2.table.table-striped.table-hover.table-sm
              thead.thead-inverse
                tr
                  th # ID
                  th Nombre Item
                  th Modelo Item
              tbody
                for val in consulta2
                  tr
                    td=val.id_item
                    td=val.nombre_item
                    td=val.modelo_item
  // Contenido Derecha
append footer
  link(rel='stylesheet', href='/stylesheets/pagination.css')
  script(src='/javascripts/pagination.js')
  script(src='/javascripts/admin.js')
  link(rel='stylesheet', href='/stylesheets/admin.css')