extends ../layout

block content
  // Contenido Derecha
  #contenido.cont-ingreso.container.col-lg-10.col-md-12
      .form-title
        h2 Administracion de Datos
      .form-group.row
        // Nav tabs
        ul#tabs.nav.nav-tabs(role='tablist')
          li.nav-item
            a.nav-link.active(data-toggle='tab', href='#fabricantes', role='tab') FABRICANTES
          li.nav-item
            a.nav-link(data-toggle='tab', href='#tipoitems', role='tab') TIPO ITEMS
          li.nav-item
            a.nav-link(data-toggle='tab', href='#items', role='tab') ITEMS
          li.nav-item
            a.nav-link(data-toggle='tab', href='#sedes', role='tab') SEDES
          li.nav-item
            a.nav-link(data-toggle='tab', href='#bodegas', role='tab') BODEGAS
          li.nav-item
            a.nav-link(data-toggle='tab', href='#puestos', role='tab') PUESTOS
          li.nav-item
            a.nav-link(data-toggle='tab', href='#campanas', role='tab') CAMPAÑAS
        // Tab panes
      .form-group.row
        .tab-content.col-md-12
          #fabricantes.tab-pane.active(role='tabpanel')
            .container.crearRow
              .row
                .col-md-2.mintitle
                  i.fa.fa-fw.fa-plus-square-o.hidden-md-down
                  label Nuevo Fabricante: 
                .col-md-8
                  input.form-control.input-sm#input-fabr
                .col-md-2
                  button.btn.btn-success#btn-fabr Insertar
            table#tab_logic.table.table-striped.table-hover.table-sm
              thead.thead-inverse
                tr
                  th # ID
                  th Fabricante
                  th Editar
              tbody
                for val in consulta0
                  tr
                    td=val.id_fabricante
                    td=val.nombre_fabricante
                    td
                      div
                        a(href='../ModificarArt/'+val.id_fabricante data-tooltip='Modificar' data-inverted data-position='top center')
                          i.fa.fa-fw.fa-edit
          #tipoitems.tab-pane.fade(role='tabpanel')
            .container.crearRow
              .row
                .col-md-2.mintitle
                  i.fa.fa-fw.fa-plus-square-o.hidden-md-down
                  label Nuevo Tipo Item: 
                .col-md-8
                  input.form-control.input-sm#input-tipoitem
                .col-md-2
                  button.btn.btn-success#btn-tipoitem Insertar
            table#tab_logic1.table.table-striped.table-hover.table-sm
              thead.thead-inverse
                tr
                  th # ID
                  th Tipo de Item
                  th Editar
              tbody
                for val in consulta1
                  tr
                    td=val.idtipo_item
                    td=val.nombre_item
                    td
                      div
                        a(href='../ModificarArt/'+val.idtipo_item data-tooltip='Modificar' data-inverted data-position='top center')
                          i.fa.fa-fw.fa-edit
          #items.tab-pane.fade(role='tabpanel')
            .container.crearRow
              .col-md-2.mintitle
                  i.fa.fa-fw.fa-plus-square-o.hidden-md-down
                  label Nuevo Item
              .row
                .col-lg-2.col-md-3
                  label Item: 
                .col-lg-6.col-md-7
                  select.form-control.input-sm#item_nombre
                    for val in consulta1
                      option(value=val.idtipo_item)=val.nombre_item
              .row
                .col-lg-2.col-md-3
                  label Fabricante:
                .col-lg-6.col-md-7
                  select.form-control.input-sm#item_fabricante
                    for val in consulta0
                      option(value=val.id_fabricante)=val.nombre_fabricante
              .row
                .col-lg-2.col-md-3
                  label Modelo Corto:
                .col-lg-6.col-md-7
                  input.form-control.input-sm#item_modelo1
              .row
                .col-lg-2.col-md-3
                  label Modelo Largo:
                .col-lg-6.col-md-7
                  input.form-control.input-sm#item_modelo2
              .row
                .col-lg-2.col-md-3
                  label Caracteristica 1:
                .col-lg-6.col-md-7
                  input.form-control.input-sm#item_c1
              .row
                .col-lg-2.col-md-3
                  label Caracteristica 2:
                .col-lg-6.col-md-7
                  input.form-control.input-sm#item_c2
              .row
                .col-lg-2.col-md-3
                  label Caracteristica 3:
                .col-lg-6.col-md-7
                  input.form-control.input-sm#item_c3
                .col-lg-2.col-md-3
                  button.btn.btn-success#btn-items Insertar
            table#tab_logic2.table.table-striped.table-hover.tabllgsm.col-md-7
              thead.thead-inverse
                tr
                  th # ID
                  th Fabricante
                  th Nombre Item
                  th Modelo Item
                  th Modelo Item 2
                  th Editar
              tbody
                for val in consulta2
                  tr
                    td=val.id_item
                    td=val.nombre_fabricante
                    td=val.nombre_item
                    td=val.modelo_item
                    td=val.modelo_item_2
                    td
                      div
                        a(href='../ModificarArt/'+val.id_fabricante data-tooltip='Modificar' data-inverted data-position='top center')
                          i.fa.fa-fw.fa-edit
          #sedes.tab-pane.fade(role='tabpanel')
            .container.crearRow
              .row
                .col-md-2.mintitle
                  i.fa.fa-fw.fa-plus-square-o.hidden-md-down
                  label Nueva Sede: 
                .col-md-8
                  input.form-control.input-sm#input-fabr
                .col-md-2
                  button.btn.btn-success#btn-fabr Insertar
            table#tab_logic3.table.table-striped.table-hover.table-sm
              thead.thead-inverse
                tr
                  th # ID
                  th Sede
                  th Ciudad
                  th Pais
                  th Editar
              tbody
                for val in consulta3
                  tr
                    td=val.id_sede
                    td=val.nombre_sede
                    td=val.ciudad_sede
                    td=val.pais_sede
                    td
                      div
                        a(href='../ModificarArt/'+val.id_fabricante data-tooltip='Modificar' data-inverted data-position='top center')
                          i.fa.fa-fw.fa-edit
          #bodegas.tab-pane.fade(role='tabpanel')
            .container.crearRow
              .row
                .col-md-2.mintitle
                  i.fa.fa-fw.fa-plus-square-o.hidden-md-down
                  label Nueva Bodega/Piso: 
                .col-md-8
                  input.form-control.input-sm#input-fabr
                .col-md-2
                  button.btn.btn-success#btn-fabr Insertar
            table#tab_logic4.table.table-striped.table-hover.table-sm
              thead.thead-inverse
                tr
                  th # ID
                  th Sede
                  th Bodega
                  th Editar
              tbody
                for val in consulta4
                  tr
                    td=val.id_bodega
                    td=val.nombre_sede
                    td=val.nombre_bodega
                    td
                      div
                        a(href='../ModificarArt/'+val.id_fabricante data-tooltip='Modificar' data-inverted data-position='top center')
                          i.fa.fa-fw.fa-edit
          #puestos.tab-pane.fade(role='tabpanel')
            .container.crearRow
              .row
                .col-md-2.mintitle
                  i.fa.fa-fw.fa-plus-square-o.hidden-md-down
                  label Nueva Posicion: 
                .col-md-8
                  input.form-control.input-sm#input-fabr
                .col-md-2
                  button.btn.btn-success#btn-fabr Insertar
            table#tab_logic5.table.table-striped.table-hover.table-sm
              thead.thead-inverse
                tr
                  th # ID
                  th Sede
                  th Bodega
                  th Editar
              tbody
                for val in consulta5
                  tr
                    td=val.id_puesto
                    td=val.posicion
                    td=val.fk_bodega
                    td
                      div
                        a(href='../ModificarArt/'+val.id_fabricante data-tooltip='Modificar' data-inverted data-position='top center')
                          i.fa.fa-fw.fa-edit
          #campanas.tab-pane.fade(role='tabpanel')
            .container.crearRow
              .row
                .col-md-2.mintitle
                  i.fa.fa-fw.fa-plus-square-o.hidden-md-down
                  label Nueva Campaña: 
                .col-md-8
                  input.form-control.input-sm#input-fabr
                .col-md-2
                  button.btn.btn-success#btn-fabr Insertar
            table#tab_logic6.table.table-striped.table-hover.table-sm
              thead.thead-inverse
                tr
                  th # ID
                  th CECO
                  th Campaña
                  th Cliente
                  th Editar
              tbody
                for val in consulta6
                  tr
                    td=val.id_campaign
                    td=val.CECO
                    td=val.nombre_campaign
                    td=val.cliente_campaign
                    td
                      div
                        a(href='../ModificarArt/'+val.id_fabricante data-tooltip='Modificar' data-inverted data-position='top center')
                          i.fa.fa-fw.fa-edit
  // Contenido Derecha
append footer
  link(rel='stylesheet', href='/stylesheets/pagination.css')
  script(src='/javascripts/pagination.js')
  script(src='/javascripts/admin.js')
  link(rel='stylesheet', href='/stylesheets/admin.css')