extends ../layout

block content
  // Contenido Derecha
  #contenido.cont-ingreso.container.col-lg-10.col-md-12
      .form-title
        h2 Administracion de Datos
      .form-group.row
        // Nav tabs
        ul#tabs.nav.nav-tabs(role='tablist')
          li.nav-item
            a.nav-link.active(data-toggle='tab', href='#fabricantes', role='tab') FABRICANTES
          li.nav-item
            a.nav-link(data-toggle='tab', href='#profile', role='tab') TIPO ITEMS
          li.nav-item
            a.nav-link(data-toggle='tab', href='#messages', role='tab') ITEMS
        // Tab panes
      .form-group.row
        .tab-content.col-md-12
          #fabricantes.tab-pane.active(role='tabpanel')
            .container.crearRow
              .row
                .col-md-2
                  label Nuevo Fabricante: 
                .col-md-8
                  input.form-control.input-sm#input-fabr
                .col-md-2
                  button.btn.btn-success#btn-fabr Insertar
            table#tab_logic.table.table-striped.table-hover.table-sm
              thead.thead-inverse
                tr
                  th # ID
                  th Fabricante
                  th Editar
              tbody
                for val in consulta0
                  tr
                    td=val.id_fabricante
                    td=val.nombre_fabricante
                    td
                      div
                        a(href='../ModificarArt/'+val.id_fabricante data-tooltip='Modificar' data-inverted data-position='top center')
                          i.fa.fa-fw.fa-edit
          #profile.tab-pane.fade(role='tabpanel')
            .container.crearRow
              .row
                .col-md-2
                  label Nuevo Tipo Item: 
                .col-md-8
                  input.form-control.input-sm#input-tipoitem
                .col-md-2
                  button.btn.btn-success#btn-tipoitem Insertar
            table#tab_logic1.table.table-striped.table-hover.table-sm
              thead.thead-inverse
                tr
                  th # ID
                  th Tipo de Item
                  th Editar
              tbody
                for val in consulta1
                  tr
                    td=val.idtipo_item
                    td=val.nombre_item
                    td
                      div
                        a(href='../ModificarArt/'+val.idtipo_item data-tooltip='Modificar' data-inverted data-position='top center')
                          i.fa.fa-fw.fa-edit
          #messages.tab-pane.fade(role='tabpanel')
            .container.crearRow
              .row
                .col-md-2
                  label Item: 
                .col-md-6
                  select.form-control.input-sm#item_nombre
                    for val in consulta1
                      option(value=val.idtipo_item)=val.nombre_item
              .row
                .col-md-2
                  label Fabricante:
                .col-md-6
                  select.form-control.input-sm#item_fabricante
                    for val in consulta0
                      option(value=val.id_fabricante)=val.nombre_fabricante
              .row
                .col-md-2
                  label Modelo Corto:
                .col-md-6
                  input.form-control.input-sm#item_modelo1
              .row
                .col-md-2
                  label Modelo Largo:
                .col-md-6
                  input.form-control.input-sm#item_modelo2
              .row
                .col-md-2
                  label Caracteristica 1:
                .col-md-6
                  input.form-control.input-sm#item_c1
              .row
                .col-md-2
                  label Caracteristica 2:
                .col-md-6
                  input.form-control.input-sm#item_c2
              .row
                .col-md-2
                  label Caracteristica 3:
                .col-md-6
                  input.form-control.input-sm#item_c3
                .col-md-2
                  button.btn.btn-success#btn-items Insertar
            table#tab_logic2.table.table-striped.table-hover.table-sm
              thead.thead-inverse
                tr
                  th # ID
                  th Fabricante
                  th Nombre Item
                  th Modelo Item
                  th Modelo Item 2
                  th Editar
              tbody
                for val in consulta2
                  tr
                    td=val.id_item
                    td=val.nombre_fabricante
                    td=val.nombre_item
                    td=val.modelo_item
                    td=val.modelo_item_2
                    td
                      div
                        a(href='../ModificarArt/'+val.id_fabricante data-tooltip='Modificar' data-inverted data-position='top center')
                          i.fa.fa-fw.fa-edit
  // Contenido Derecha
append footer
  link(rel='stylesheet', href='/stylesheets/pagination.css')
  script(src='/javascripts/pagination.js')
  script(src='/javascripts/admin.js')
  link(rel='stylesheet', href='/stylesheets/admin.css')