extends layout

block content
  // Contenido Derecha
  #contenido.cont-ingreso.container.col-md-10
    .form-title
      h2 Consulta de Activos
    // Formulario de busqueda de registros
    #tabla_consultas.container.tablas.tabla-consulta
      .row.clearfix
        .col-md-12.column
          table#tab_logic.table.table-bordered.table-hover
            thead.table-head.thead-inverse
              tr
                th.text-center
                  | Sede
                th.text-center
                  | Ubicacion
                th.text-center
                  | Puesto
                th.text-center
                  | Campaña
                th.text-center
                  | Fabricante
                th.text-center
                  | Producto
                th.text-center
                  | Modelo
                th.text-center
                  | Serial
                th.text-center
                  | Plaqueta
                th.text-center
                  | Editar
            tfoot.table-footer
              tr
                th
                th
                th
                th
                th
                th
                th
                th
                th
                th.hidden-sm-up
            tbody
              each item in consulta1
                tr#addr0
                  td
                    div=item.nombre_sede
                  td
                    div=item.nombre_bodega
                  td
                    div=item.posicion
                  td
                    div=item.nombre_campaign
                  td
                    div=item.nombre_fabricante
                  td
                    div=item.nombre_item
                  td
                    div=item.modelo_item
                  td
                    div=item.serial_art
                  td
                    div=item.plaqueta_art
                  td
                    div
                      a(href='../ModificarArt/'+item.id_articulos data-tooltip='Modificar' data-inverted data-position='top center')
                        i.fa.fa-fw.fa-edit
    // Formulario de busqueda de registros
  // Contenido Derecha

append footer
  link(rel='stylesheet', href='/stylesheets/pagination.css')
  link(rel='stylesheet', href='/stylesheets/Buttons/buttons.dataTables.min.css')
  script(src='/javascripts/pagination.js')
  script(src='/javascripts/consultas.js')
  script(src='/javascripts/Buttons/dataTables.buttons.min.js')
  script(src='/javascripts/Buttons/buttons.print.min.js')
  script(src='/javascripts/Buttons/buttons.flash.min.js')
  script(src='/javascripts/Buttons/jszip.min.js')
  script(src='/javascripts/Buttons/pdfmake.min.js')
  script(src='/javascripts/Buttons/vfs_fonts.js')
  script(src='/javascripts/Buttons/buttons.html5.min.js')
  script(src='/javascripts/Buttons/buttons.print.min.js')
