extends layout

block content
  // Contenido Derecha
  #contenido.cont-ingreso.container.col-md-10
    form#ingreso-form.form-horizontal(method='post', action='../CrearArticulo')
      .form-title
        h2 Formulario de Ingreso de Articulos
        if info != undefined
        .form-group.row
          p= info
      .form-group.row
        label.col-md-2.col-form-label(for='form-ing-articulo') Articulo
        .col-md-6
          select(name='articulo')#select-articulo.form-control
            option(value=' ') Seleccione un Articulo
            option(value=1) CPU
            option(value=2) MONITOR
            option(value=3) HARDPHONE
      .form-group.row
        label.col-md-2.col-form-label(for='form-ing-articulo') Tipo
        .col-md-6
          for val in consulta7
            case val.tipo
              when 1
                select(name='tipoarticulo')#select-tipoarticulo.form-control.ta1
                  option(value=' ') Seleccione Tipo Articulo
                  for values in consulta1
                    if values.tipo == 1
                      option(value= values.id_item)= values.nombre_fabricante+" - "+values.modelo_item
              when 2
                select(name='tipoarticulo')#select-tipoarticulo.form-control.ta2
                  option(value=' ') Seleccione Tipo Articulo
                  for values in consulta1
                    if values.tipo == 2
                      option(value= values.id_item)= values.nombre_fabricante+" - "+values.modelo_item
              when 3
                select(name='tipoarticulo')#select-tipoarticulo.form-control.ta3
                  option(value=' ') Seleccione Tipo Articulo
                  for values in consulta1
                    if values.tipo == 3
                      option(value= values.id_item)= values.nombre_fabricante+" - "+values.modelo_item
      .form-group.row
        label.col-md-2.col-form-label(for='form-ing-serial') Serial
        .col-md-6
          input.form-control(type='text-uppercase', placeholder='Serial Fabricante', name='serial')
      .form-group.row
        label.col-md-2.col-form-label(for='form-ing-plaqueta') Plaqueta
        .col-md-6
          input.form-control(type='text-uppercase', placeholder='Serial Digitex', name='plaqueta')
      .form-group.row
        label.col-md-2.col-form-label(for='form-ing-estado') Estado
        .col-md-6
          select(name='estado')#select-estado.form-control
            option(value=' ') Seleccione un Estado
            for val in consulta2
              option(value=val.id_estados)= val.nombre_estado
      .form-group.row
        label.col-md-2.col-form-label(for='form-ing-sede') Sede
        .col-md-6
          select(name='sede')#select-sede.form-control
            option(value=' ') Seleccione la Sede
            for val in consulta3
              option(value=val.id_sede)= val.nombre_sede
      .form-group.row
        label.col-md-2.col-form-label(for='form-ing-ubicacion') Ubicacion
        .col-md-6
          for val in consulta3
            case val.id_sede
              when 1
                select.form-control(name='bodega').select-bodegas.sb1
                  option(value=' ') Seleccione la Ubicacion
                  for values in consulta4
                    if values.fk_sede == 1
                      option(value= values.id_bodega)= values.nombre_bodega
                    else
              when 2
                select.form-control(name='bodega').select-bodegas.sb2
                  option(value=' ') Seleccione la Ubicacion
                  for values in consulta4
                    if values.fk_sede == 2
                      option(value= values.id_bodega)= values.nombre_bodega
                    else
              when 3
                select.form-control(name='bodega').select-bodegas.sb3
                  option(value=' ') Seleccione la Ubicacion
                  for values in consulta4
                    if values.fk_sede == 3
                      option(value= values.id_bodega)= values.nombre_bodega
                    else
              when 4
                select.form-control(name='bodega').select-bodegas.sb4
                  option(value=' ') Seleccione la Ubicacion
                  for values in consulta4
                    if values.fk_sede == 4
                      option(value= values.id_bodega)= values.nombre_bodega
                    else
              when 5
                select.form-control(name='bodega').select-bodegas.sb5
                  option(value=' ') Seleccione la Ubicacion
                  for values in consulta4
                    if values.fk_sede == 5
                      option(value= values.id_bodega)= values.nombre_bodega
                    else
              when 6
                select.form-control(name='bodega').select-bodegas.sb6
                  option(value=' ') Seleccione la Ubicacion
                  for values in consulta4
                    if values.fk_sede == 6
                      option(value= values.id_bodega)= values.nombre_bodega
                    else
              when 7
                select.form-control(name='bodega').select-bodegas.sb7
                  option(value=' ') Seleccione la Ubicacion
                  for values in consulta4
                    if values.fk_sede == 7
                      option(value= values.id_bodega)= values.nombre_bodega
                    else
              when 8
                select.form-control(name='bodega').select-bodegas.sb8
                  option(value=' ') Seleccione la Ubicacion
                  for values in consulta4
                    if values.fk_sede == 8
                      option(value= values.id_bodega)= values.nombre_bodega
                    else
              when 9
                select.form-control(name='bodega').select-bodegas.sb9
                  option(value=' ') Seleccione la Ubicacion
                  for values in consulta4
                    if values.fk_sede == 9
                      option(value= values.id_bodega)= values.nombre_bodega
                    else
      .form-group.row
        label.col-md-2.col-form-label(for='form-ing-numpuesto') N° Puesto
        .col-md-6
          for val in consulta4
            case val.id_bodega
              when 1
                select.form-control(name='posicion').select-posiciones.sp1
                  option(value=' ') Seleccione el Puesto
                  for values in consulta6
                    if values.fk_bodega == 1
                      option(value= values.id_puesto)= 'Puesto ' + values.posicion
                    else
              when 2
                select.form-control(name='posicion').select-posiciones.sp2
                  option(value=' ') Seleccione el Puesto
                  for values in consulta6
                    if values.fk_bodega == 2
                      option(value= values.id_puesto)= 'Puesto ' + values.posicion
                    else
              when 3
                select.form-control(name='posicion').select-posiciones.sp3
                  option(value=' ') Seleccione el Puesto
                  for values in consulta6
                    if values.fk_bodega == 3
                      option(value= values.id_puesto)= 'Puesto ' + values.posicion
                    else
              when 4
                select.form-control(name='posicion').select-posiciones.sp4
                  option(value=' ') Seleccione el Puesto
                  for values in consulta6
                    if values.fk_bodega == 4
                      option(value= values.id_puesto)= 'Puesto ' + values.posicion
                    else
              when 5
                select.form-control(name='posicion').select-posiciones.sp5
                  option(value=' ') Seleccione el Puesto
                  for values in consulta6
                    if values.fk_bodega == 5
                      option(value= values.id_puesto)= 'Puesto ' + values.posicion
                    else
              when 6
                select.form-control(name='posicion').select-posiciones.sp6
                  option(value=' ') Seleccione el Puesto
                  for values in consulta6
                    if values.fk_bodega == 6
                      option(value= values.id_puesto)= 'Puesto ' + values.posicion
                    else
              when 7
                select.form-control(name='posicion').select-posiciones.sp7
                  option(value=' ') Seleccione el Puesto
                  for values in consulta6
                    if values.fk_bodega == 7
                      option(value= values.id_puesto)= 'Puesto ' + values.posicion
                    else
              when 8
                select.form-control(name='posicion').select-posiciones.sp8
                  option(value=' ') Seleccione el Puesto
                  for values in consulta6
                    if values.fk_bodega == 8
                      option(value= values.id_puesto)= 'Puesto ' + values.posicion
                    else
              when 9
                select.form-control(name='posicion').select-posiciones.sp9
                  option(value=' ') Seleccione el Puesto
                  for values in consulta6
                    if values.fk_bodega == 9
                      option(value= values.id_puesto)= 'Puesto ' + values.posicion
                    else
              when 10
                select.form-control(name='posicion').select-posiciones.sp10
                  option(value=' ') Seleccione el Puesto
                  for values in consulta6
                    if values.fk_bodega == 10
                      option(value= values.id_puesto)= 'Puesto ' + values.posicion
                    else
              when 11
                select.form-control(name='posicion').select-posiciones.sp11
                  option(value=' ') Seleccione el Puesto
                  for values in consulta6
                    if values.fk_bodega == 11
                      option(value= values.id_puesto)= 'Puesto ' + values.posicion
                    else
              when 12
                select.form-control(name='posicion').select-posiciones.sp12
                  option(value=' ') Seleccione el Puesto
                  for values in consulta6
                    if values.fk_bodega == 12
                      option(value= values.id_puesto)= 'Puesto ' + values.posicion
                    else
              when 13
                select.form-control(name='posicion').select-posiciones.sp13
                  option(value=' ') Seleccione el Puesto
                  for values in consulta6
                    if values.fk_bodega == 13
                      option(value= values.id_puesto)= 'Puesto ' + values.posicion
                    else
              when 14
                select.form-control(name='posicion').select-posiciones.sp14
                  option(value=' ') Seleccione el Puesto
                  for values in consulta6
                    if values.fk_bodega == 14
                      option(value= values.id_puesto)= 'Puesto ' + values.posicion
                    else
      .form-group.row
        label.col-md-2.col-form-label(for='form-ing-campaña') Campaña
        .col-md-6
          select(name='campaña')#select-campaign.form-control
            option(value=' ') Seleccione la Campaña
            for val in consulta5
              option(value=val.id_campaign)= val.nombre_campaign
      .button-container.form-group.row
        .col-md-2
          button(type='submit')#btn-registrar.div-button.btn.btn-primary.btn-block Registrar
        .col-md-2
          a(href='../Ingresos', style='text-decoration: none;')
            button(type='button').div-button-danger.btn.btn-primary.btn-block Limpiar
    //- if info != undefined
    //-   p= info
  // Contenido Derecha

append footer
  script(src='/javascripts/ingresos.js')
  script(src='/javascripts/bootstrapvalidator.js')
  script(src='/javascripts/validacion.js')