extends layout

block content
  // Contenido Derecha
  // Contenido Derecha
  #contenido.cont-ingreso.container.col-md-10
    .form-title
      h2 Traslados de Activos
    #ticket_campo.container
      .row.clearfix
        .input-group
          span#sizing-addon1.input-group-addon Ticket
          input.form-control(type='text', placeholder='Ingrese el numero de la peticion', aria-describedby='sizing-addon1')
    // Tabla de Registro de Movimientos
    #tabla_traslados.container.tablas
      .row.clearfix
        .col-md-12.column
          table#tab_logic.table.table-bordered.table-hover
            thead.table-head.thead-inverse
              tr
                th.text-center
                  | N°
                th.text-center
                  | Bodega / Puesto
                th.text-center
                  | Activo
                th.text-center
                  i.fa.fa-arrows-h
                th.text-center
                  | Bodega / Puesto
                th.text-center
                  | Activo
                th.text-center
                  i.fa.fa-refresh
            tbody
              tr#addr0
                td
                  | 1
                td
                  section
                    select.form-control#dropdown1(data-dropdown='{ "closeReset": true, }')
                      option(value='')= 'Seleccione el Puesto'
                      for val in consulta3
                        case val.id_bodega
                          when 1
                            optgroup(label= val.nombre_bodega)
                              for values in consulta5
                                if values.fk_bodega == 1
                                  option(value= values.id_puesto)= values.nombre_bodega + ' | Puesto ' + values.posicion
                          when 2
                            optgroup(label= val.nombre_bodega)
                              for values in consulta5
                                if values.fk_bodega == 2
                                  option(value= values.id_puesto)= values.nombre_bodega + ' | Puesto ' + values.posicion
                          when 3
                            optgroup(label= val.nombre_bodega)
                              for values in consulta5
                                if values.fk_bodega == 3
                                  option(value= values.id_puesto)= values.nombre_bodega + ' | Puesto ' + values.posicion
                          when 4
                            optgroup(label= val.nombre_bodega)
                              for values in consulta5
                                if values.fk_bodega == 4
                                  option(value= values.id_puesto)= values.nombre_bodega + ' | Puesto ' + values.posicion
                          when 5
                            optgroup(label= val.nombre_bodega)
                              for values in consulta5
                                if values.fk_bodega == 5
                                  option(value= values.id_puesto)= values.nombre_bodega + ' | Puesto ' + values.posicion
                          when 6
                            optgroup(label= val.nombre_bodega)
                              for values in consulta5
                                if values.fk_bodega == 6
                                  option(value= values.id_puesto)= values.nombre_bodega + ' | Puesto ' + values.posicion
                          when 7
                            optgroup(label= val.nombre_bodega)
                              for values in consulta5
                                if values.fk_bodega == 7
                                  option(value= values.id_puesto)= values.nombre_bodega + ' | Puesto ' + values.posicion
                          when 8
                            optgroup(label= val.nombre_bodega)
                              for values in consulta5
                                if values.fk_bodega == 8
                                  option(value= values.id_puesto)= values.nombre_bodega + ' | Puesto ' + values.posicion
                          when 9
                            optgroup(label= val.nombre_bodega)
                              for values in consulta5
                                if values.fk_bodega == 9
                                  option(value= values.id_puesto)= values.nombre_bodega + ' | Puesto ' + values.posicion
                          when 10
                            optgroup(label= val.nombre_bodega)
                              for values in consulta5
                                if values.fk_bodega == 10
                                  option(value= values.id_puesto)= values.nombre_bodega + ' | Puesto ' + values.posicion
                          when 11
                            optgroup(label= val.nombre_bodega)
                              for values in consulta5
                                if values.fk_bodega == 11
                                  option(value= values.id_puesto)= values.nombre_bodega + ' | Puesto ' + values.posicion
                          when 12
                            optgroup(label= val.nombre_bodega)
                              for values in consulta5
                                if values.fk_bodega == 12
                                  option(value= values.id_puesto)= values.nombre_bodega + ' | Puesto ' + values.posicion
                          when 13
                            optgroup(label= val.nombre_bodega)
                              for values in consulta5
                                if values.fk_bodega == 13
                                  option(value= values.id_puesto)= values.nombre_bodega + ' | Puesto ' + values.posicion
                          when 14
                            optgroup(label= val.nombre_bodega)
                              for values in consulta5
                                if values.fk_bodega == 14
                                  option(value= values.id_puesto)= values.nombre_bodega + ' | Puesto ' + values.posicion
                td
                  #select-list
                    div
                      select.selectItem#itemInicio
                        option(value=' ') Seleccione Item
                        option(value='1') CPU
                        option(value='2') Monitor
                        option(value='3') Hardphone
                td
                  i.fa.fa-arrows-h
                td
                  section
                    select.form-control#dropdown1(data-dropdown='{ "closeReset": false, }')
                      option(value='')= 'Seleccione el Puesto'
                      for val in consulta3
                        case val.id_bodega
                          when 1
                            optgroup(label= val.nombre_bodega)
                              for values in consulta5
                                if values.fk_bodega == 1
                                  option(value= values.id_puesto)= values.nombre_bodega + ' | Puesto ' + values.posicion
                          when 2
                            optgroup(label= val.nombre_bodega)
                              for values in consulta5
                                if values.fk_bodega == 2
                                  option(value= values.id_puesto)= values.nombre_bodega + ' | Puesto ' + values.posicion
                          when 3
                            optgroup(label= val.nombre_bodega)
                              for values in consulta5
                                if values.fk_bodega == 3
                                  option(value= values.id_puesto)= values.nombre_bodega + ' | Puesto ' + values.posicion
                          when 4
                            optgroup(label= val.nombre_bodega)
                              for values in consulta5
                                if values.fk_bodega == 4
                                  option(value= values.id_puesto)= values.nombre_bodega + ' | Puesto ' + values.posicion
                          when 5
                            optgroup(label= val.nombre_bodega)
                              for values in consulta5
                                if values.fk_bodega == 5
                                  option(value= values.id_puesto)= values.nombre_bodega + ' | Puesto ' + values.posicion
                          when 6
                            optgroup(label= val.nombre_bodega)
                              for values in consulta5
                                if values.fk_bodega == 6
                                  option(value= values.id_puesto)= values.nombre_bodega + ' | Puesto ' + values.posicion
                          when 7
                            optgroup(label= val.nombre_bodega)
                              for values in consulta5
                                if values.fk_bodega == 7
                                  option(value= values.id_puesto)= values.nombre_bodega + ' | Puesto ' + values.posicion
                          when 8
                            optgroup(label= val.nombre_bodega)
                              for values in consulta5
                                if values.fk_bodega == 8
                                  option(value= values.id_puesto)= values.nombre_bodega + ' | Puesto ' + values.posicion
                          when 9
                            optgroup(label= val.nombre_bodega)
                              for values in consulta5
                                if values.fk_bodega == 9
                                  option(value= values.id_puesto)= values.nombre_bodega + ' | Puesto ' + values.posicion
                          when 10
                            optgroup(label= val.nombre_bodega)
                              for values in consulta5
                                if values.fk_bodega == 10
                                  option(value= values.id_puesto)= values.nombre_bodega + ' | Puesto ' + values.posicion
                          when 11
                            optgroup(label= val.nombre_bodega)
                              for values in consulta5
                                if values.fk_bodega == 11
                                  option(value= values.id_puesto)= values.nombre_bodega + ' | Puesto ' + values.posicion
                          when 12
                            optgroup(label= val.nombre_bodega)
                              for values in consulta5
                                if values.fk_bodega == 12
                                  option(value= values.id_puesto)= values.nombre_bodega + ' | Puesto ' + values.posicion
                          when 13
                            optgroup(label= val.nombre_bodega)
                              for values in consulta5
                                if values.fk_bodega == 13
                                  option(value= values.id_puesto)= values.nombre_bodega + ' | Puesto ' + values.posicion
                          when 14
                            optgroup(label= val.nombre_bodega)
                              for values in consulta5
                                if values.fk_bodega == 14
                                  option(value= values.id_puesto)= values.nombre_bodega + ' | Puesto ' + values.posicion
                td
                  #select-list
                    div
                      select.selectItem#itemDestino
                        option(value=' ') Seleccione Item
                        option(value='1') CPU
                        option(value='2') Monitor
                        option(value='3') Hardphone
                td
                  input.form-check-input.big-checkbox(type='checkbox', name='inversa')
              tr#addr1
              tr#addr2
      .row.add-container
        .col-md-6.row
          a#add_row.btn.btn-default.pull-left
            i.fa.fa-plus-circle
        .col-md-6.row
          a#delete_row.pull-right.btn.btn-default
            i.fa.fa-minus-circle
    // Tabla de Registro de Movimientos
    .button-container.form-group.row
      .col-md-2
        button.div-button.btn.btn-primary.btn-block Registrar
      .col-md-2
        button.div-button-danger.btn.btn-primary.btn-block Limpiar
  // Contenido Derecha

append footer
  //- link(rel='stylesheet', href='/stylesheets/multi-select.css')
  link(rel='stylesheet', href='/stylesheets/dropdown.css')
  script(src='/javascripts/app.js')
  //- script(src='/javascripts/multi-select.js')
  script(src='/javascripts/traslados.js')
  script(src='/javascripts/jquery.dropdown.js')
  script(src='/javascripts/action.js')
