extends ../layout

block content
  #contenido.cont-ingreso.container.col-lg-10.col-md-12
    .panel.panel-default
      .panel-heading
        .row.form-group
          h2= 'Editar Usuarios'
      .panel-body
        form(action='/ActualizaUser' method='post' autocomplete='off')#ingreso-form
          .row.form-group
            .col-md-2
              label.col-2.col-form-label(for='usuario')= 'Usuario'
            .col-md-6
              for val in consulta1
                input(type='text' name='userId' id='userId' value=val.id_usuario).hidden-xs-up
                input(type='text' name='usuario' id='usuario' placeholder='Usuario' value=val.nombre_usuario).form-control
          .row.form-group
            .col-md-2
              label.col-2.col-form-label(for='nombre')= 'Nombre'
            .col-md-6
              for val in consulta1
                input(type='text' name='nombre' id='nombre' placeholder='Nombre' value=val.nombre_mostrar).form-control
          .row.form-group
            .col-md-2
              label.col-2.col-form-label(for='cargo')= 'Cargo'
            .col-md-6
              for val in consulta1
                input(type='text' name='cargo' id='cargo' placeholder='Cargo' value=val.cargo_usuario).form-control
          .row.form-group
            .col-md-2
              label.col-2.col-form-label(for='Campaña')= 'Campaña'
            .col-md-6
              select(name='campaign')#select-campaign.form-control
                for val in consulta1
                  option(value=val.fk_campaign)= val.nombre_campaign
                //- for val in consulta2
                //-   option(value=val.id_campaign)= val.nombre_campaign
          .row.form-group
            .col-md-2
              label.col-2.col-form-label(for='sede')= 'Sede'
            .col-md-6
              select(name='sede')#select-sede.form-control
                for val in consulta1
                  option(value=val.fk_sede)= val.nombre_sede
                //- for val in consulta3
                //-   option(value=val.id_sede)= val.nombre_sede
          .row.form-group
            .col-md-2
              label.col-2.col-form-label(for='perfil')= 'Perfil'
            .col-md-6
              select(name='perfil')#select-cargo.form-control
                for val in consulta1
                  option(value=val.perfil_usuario)= val.nombre_perfil
                //- for val in consulta4
                //-   option(value=val.perfil_usuario)= val.nombre_perfil
          .row.form-group
            .col-md-3
              button(type='submit').btn.btn-primary= 'Actualizar'

link(rel='stylesheet', href='/stylesheets/bootstrap-flex.min.css')
link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
append footer
  script(src='/javascripts/bootstrapvalidator.js')
  script(src='/javascripts/validacion.js')