.row
  .col-md-6.offset-md-3
    .panel.panel-default
      .panel-heading
        h1= 'Registrar Usuarios'
      .panel-body
        form(action='/auth/signup' method='post' autocomplete='off')
          .form-group
            label(for='usuario')= 'Usuario'
            input(type='text' name='usuario' id='usuario' placeholder='Usuario').form-control
          .form-group
            label(for='nombre')= 'Nombre'
            input(type='text' name='nombre' id='nombre' placeholder='Nombre').form-control
          .form-group
            label(for='cargo')= 'Cargo'
            input(type='text' name='cargo' id='cargo' placeholder='Cargo').form-control
          .form-group
            label(for='perfil')= 'Perfil'
            input(type='text' name='perfil' id='perfil' placeholder='Perfil').form-control
          .form-group
            label(for='password')= 'Password'
            input(type='password' name='password' id='password' placeholder='password').form-control
          button(type='submit').btn.btn-default= 'Registrese'
      a(href='/', style=' text-decoration: none;')
        button.btn-outline-info.btn-lg.btn-block Volver al Inicio

  link(rel='stylesheet', href='/stylesheets/bootstrap-flex.min.css')
  link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/tether.min.js')
  script(src='/javascripts/bootstrap.min.js')