extends ../layout

block content
  #contenido.cont-ingreso.container.col-lg-10.col-md-12
    .panel.panel-default
      .panel-heading
        .row.form-group
          h2= 'Registrar Usuarios'
      .panel-body
        form(action='/auth/signup' method='post' autocomplete='off')#ingreso-form
          .row.form-group
            .col-md-2
              label.col-2.col-form-label(for='usuario')= 'USUARO'
            .col-md-6
              input(type='text' name='usuario' id='usuario' placeholder='Usuario').form-control
          .row.form-group
            .col-md-2
              label.col-2.col-form-label(for='nombre')= 'NOMBRE'
            .col-md-6
              input(type='text' name='nombre' id='nombre' placeholder='Nombre').form-control
          .row.form-group
            .col-md-2
              label.col-2.col-form-label(for='cargo')= 'CARGO'
            .col-md-6
              input(type='text' name='cargo' id='cargo' placeholder='Cargo').form-control
          .row.form-group
            .col-md-2
              label.col-2.col-form-label(for='Campaña')= 'CAMPAÑA'
            .col-md-6
              select(name='campaign')#select-campaign.form-control
                for val in consulta1
                  option(value=val.id_campaign)= val.nombre_campaign
          .row.form-group
            .col-md-2
              label.col-2.col-form-label(for='sede')= 'SEDE'
            .col-md-6
              select(name='sede')#select-sede.form-control
                for val in consulta0
                  option(value=val.id_sede)= val.nombre_sede
          .row.form-group
            .col-md-2
              label.col-2.col-form-label(for='perfil')= 'PERFIL'
            .col-md-6
              select(name='perfil')#select-cargo.form-control
                option(value=' ')= 'Seleccione el perfil de Usuario'
                option(value=1)= 'Administrador'
                option(value=2)= 'Responsable Sede'
                option(value=3)= 'Responsable Campaña'
                option(value=4)= 'Consultas'
          .row.form-group
            .col-md-2
              label.col-2.col-form-label(for='password')= 'PASSWORD'
            .col-md-6
              input(type='password' name='password' id='password' placeholder='password').form-control
          .row.form-group
            .col-md-3
              button(type='submit').btn.btn-primary= 'Registrese'

link(rel='stylesheet', href='/stylesheets/bootstrap-flex.min.css')
link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
script(src='/javascripts/jquery.min.js')
script(src='/javascripts/tether.min.js')
script(src='/javascripts/bootstrap.min.js')
script(src='/javascripts/bootstrapvalidator.js')
script(src='/javascripts/validacion.js')